.about-dialog.element {
  .dialog-title {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      width: 25px;
    }

    .name {
      font-size: 17px;
    }
  }

  .content {
    width: 550px;

    .items {
      display: flex;
      flex-direction: column;

      .item {
        &:not(:first-child) {
          margin-top: -20px !important;
        }

        &.contacts {
          .list {
            .link {
              color: blue;
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              cursor: pointer;
              white-space: nowrap;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        .list {
          margin-top: -10px;
          align-items: center;
          display: flex;
          white-space: nowrap;
          gap: 10px;

          .name {
            font-weight: 600;

            &:after {
              content: ":";
              margin-left: 3px;
            }
          }
        }

        li:not(:first-child) {
          margin-top: 13px;
        }
      }
    }
  }
}