node_modules
dist/**/*.js
dist/**/*.json
dist/**/*.png
dist/**/*.txt
dist/**/*.webp
dist/**/*.ico
dist/**/*.html
dist/**/*.map
dist/**/*.css
dist/**/*.gif
.log
package-lock.json
yarn.lock
*.log
electron
src/controller/frontend
downloads
bun.lockb
memory_data
./memory_data
*.zip
._*
**/*/.DS_Store
.DS_Store
