:root {
    --light: #F0F5FC;
    --semi-light: #E7EDF7;
    --gray: #7D9CB9;
    --semi-gray: #C9D9EB;
    --green: #2ED573;
    --purple: #6952ED;
    --semi-purple: #7D67F9;
    --main-color: #5E49DA;
    --green-tokped: rgb(24, 159, 96);
    --green-tokped-bg: #C9FDE0;
    --green-tokped-color: #00AA5B;
    --orange-tokped-bg: rgba(255, 221, 14, 0.2);
    --orange-tokped-color: rgb(149, 128, 3);
    --red-tokped-bg: rgb(252, 221, 226);
    --red-tokped-color: rgb(235, 82, 112);
    --main-color: rgb(25, 118, 210);
}